<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <io.codefresh.jenkins2cf.CodefreshBuilder plugin="jenkins2cf@1.0-SNAPSHOT">
      <launch>true</launch>
    </io.codefresh.jenkins2cf.CodefreshBuilder>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>